.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My CSS */

body {
  margin: 0 3rem 0 3rem;
}
.banner-card{
  background-color: white;
}
.banner-card > img {
  height: 70vh;
  width: 100%;
  /* object-fit: contain; */
}

.banner-text {
  position: absolute;
  color: white;
  top: 60vh;
  left: 5vw;
}
.banner-title {
  position: absolute;
  color: white;
  top: 50vh;
  left: 5vw;
  font-size: 2rem;
}
.movie-list {
  
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.movie-card {
  width: 20vw;
  position: relative;
  color: whitesmoke;
}
.movie-title {
  position: absolute;
  top: 1rem;
  left: .4rem;
}
.button-wrapper a {
  position: absolute;
  top: 80%;
}
.button-wrapper {
  display: flex;
  place-content: center;
}
@media screen and (max-width: 400px) {
  .banner-card {
    height: 25vh;
  }
  .banner-card > img {
    height: 30vh;
  }
  .banner-title {
    top: 11vh;
    left: 5vw;
    font-size: 1.5rem;
  }
  .banner-text {
    top: 19vh;
    left: 5vw;
    font-size: .7rem;
  }
}